<!DOCTYPE html>
<html lang="en">
  <head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
		<title><%= title %></title>
		<link rel="stylesheet" href="bootstrap.min.css" type="text/css" media="screen" title="no title" charset="utf-8">
		<link rel="stylesheet" href="application.css" type="text/css" media="screen" title="no title" charset="utf-8">
		<script src="jquery-1.7.2.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="jquery.timeago.js" type="text/javascript" charset="utf-8"></script>
		<script src="<%= faye_js_path %>" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" charset="utf-8">
			jQuery(document).ready(function() {
			  jQuery("time.timeago").timeago();
			});
		</script>
  </head>
	<body>
		<div class='container-fluid'>
			<%= yield %>
		</div>
	</body>
</html>